<%= turbo_frame_tag @bookmark do %>
  <div class="mx-auto md:w-2/3 w-full">
    <h1 class="font-bold text-4xl">Editing bookmark</h1>

    <%= render "form", bookmark: @bookmark %>

    <%= link_to "Show this bookmark", @bookmark, data: {turbo_frame: "_top"}, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to bookmarks", bookmarks_path, data: {turbo_frame: "_top"}, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
<% end %>
